/* =========================
   HEADER LAYOUT
========================= */

.site-header {
  width: 100%;
  height: 72.81px;
  border-bottom: 1.01px solid rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-container {
  max-width: 1456.25px;
  height: 72.81px;
  margin: 0 auto;
  padding: 0 64.72px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
}


/* =========================
   HERO SECTION LAYOUT
========================= */
.hero {
  width: 100%;
  min-height: 794px;

  background-image: url('../assets/images/hero/hero-bg.png');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;

  position: relative;
  overflow-x: hidden;
}

/* Header sits on top */
.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.hero-container {
  max-width: 1456.25px;
  margin: 0 auto;
  padding-left: 74px;
  padding-top: 180px; 

  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-start;
}

.hero-content {
   width: 692px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  box-sizing: border-box;
}

/* =========================
   PRODUCT SECTION LAYOUT
========================= */

.product-section {
  padding: 120px 0;
}

.product-container {
  max-width: 1328px;
  margin: 0 auto;
}

.product-layout {
  display: grid;
  grid-template-columns: 610px 1fr;
  gap: 108px;
  align-items: start;
}
